/*pls give goblin (owo) ur luv*/
#ss_board {
    background-image: url(https://i.imgur.com/0NTlRMC.png) !important
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/pyramid.gif"] {
    content: url(https://i.imgur.com/ZJrBKas.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/new_open.gif"] {
    content: url(https://i.imgur.com/E9UyAkJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/2_clubs.gif"] {
    content: url(https://i.imgur.com/9lxbt2o.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/3_clubs.gif"] {
    content: url(https://i.imgur.com/oh5EyUu.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/4_clubs.gif"] {
    content: url(https://i.imgur.com/nWYwoNz.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/5_clubs.gif"] {
    content: url(https://i.imgur.com/FoZZyXs.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/6_clubs.gif"] {
    content: url(https://i.imgur.com/aeWLYqC.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/7_clubs.gif"] {
    content: url(https://i.imgur.com/zAuGMrs.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/8_clubs.gif"] {
    content: url(https://i.imgur.com/MHvvuM9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/9_clubs.gif"] {
    content: url(https://i.imgur.com/JE2qUyt.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/10_clubs.gif"] {
    content: url(https://i.imgur.com/8yKsrP1.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/11_clubs.gif"] {
    content: url(https://i.imgur.com/DrrXak2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/12_clubs.gif"] {
    content: url(https://i.imgur.com/Ua0ZvY1.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/13_clubs.gif"] {
    content: url(https://i.imgur.com/StNzuya.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/14_clubs.gif"] {
    content: url(https://i.imgur.com/4db1ESt.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/2_hearts.gif"] {
    content: url(https://i.imgur.com/NPsODsn.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/3_hearts.gif"] {
    content: url(https://i.imgur.com/dkRUVBE.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/4_hearts.gif"] {
    content: url(https://i.imgur.com/U2EXHmg.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/5_hearts.gif"] {
    content: url(https://i.imgur.com/xFFedbw.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/6_hearts.gif"] {
    content: url(https://i.imgur.com/MpKiM7k.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/7_hearts.gif"] {
    content: url(https://i.imgur.com/0E1ehEk.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/8_hearts.gif"] {
    content: url(https://i.imgur.com/lcx6usU.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/9_hearts.gif"] {
    content: url(https://i.imgur.com/CMulRng.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/10_hearts.gif"] {
    content: url(https://i.imgur.com/xHhSH9l.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/11_hearts.gif"] {
    content: url(https://i.imgur.com/UrT2vo1.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/12_hearts.gif"] {
    content: url(https://i.imgur.com/gKQtObR.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/13_hearts.gif"] {
    content: url(https://i.imgur.com/lNCeWke.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/14_hearts.gif"] {
    content: url(https://i.imgur.com/xfjR2Gy.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/2_spades.gif"] {
    content: url(https://i.imgur.com/F1VGPtB.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/3_spades.gif"] {
    content: url(https://i.imgur.com/FSyFi4v.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/4_spades.gif"] {
    content: url(https://i.imgur.com/USnn5ua.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/5_spades.gif"] {
    content: url(https://i.imgur.com/Dvp7k4H.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/6_spades.gif"] {
    content: url(https://i.imgur.com/R0axt9I.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/7_spades.gif"] {
    content: url(https://i.imgur.com/nsY5Hqp.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/8_spades.gif"] {
    content: url(https://i.imgur.com/GcpXJfi.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/9_spades.gif"] {
    content: url(https://i.imgur.com/JrPPNMD.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/10_spades.gif"] {
    content: url(https://i.imgur.com/jviJV29.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/11_spades.gif"] {
    content: url(https://i.imgur.com/AB0IFbr.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/12_spades.gif"] {
    content: url(https://i.imgur.com/7AssgKM.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/13_spades.gif"] {
    content: url(https://i.imgur.com/TQjv4vG.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/14_spades.gif"] {
    content: url(https://i.imgur.com/zZU34HA.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/2_diamonds.gif"] {
    content: url(https://i.imgur.com/lDGJGCk.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/3_diamonds.gif"] {
    content: url(https://i.imgur.com/PljLmA0.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/4_diamonds.gif"] {
    content: url(https://i.imgur.com/9BLk7Ri.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/5_diamonds.gif"] {
    content: url(https://i.imgur.com/05XicTo.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/6_diamonds.gif"] {
    content: url(https://i.imgur.com/NPY7hvx.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/7_diamonds.gif"] {
    content: url(https://i.imgur.com/n8a5oEb.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/8_diamonds.gif"] {
    content: url(https://i.imgur.com/VKD0WV1.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/9_diamonds.gif"] {
    content: url(https://i.imgur.com/npu8a9x.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/10_diamonds.gif"] {
    content: url(https://i.imgur.com/OIenGZL.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/11_diamonds.gif"] {
    content: url(https://i.imgur.com/5L6hfUc.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/12_diamonds.gif"] {
    content: url(https://i.imgur.com/ghW43Cr.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/13_diamonds.gif"] {
    content: url(https://i.imgur.com/eQe6uTD.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/14_diamonds.gif"] {
    content: url(https://i.imgur.com/UVoCSNd.png)
}
