/*pls give goblin (owo) ur luv*/
img[src="https://grundoscafe.b-cdn.net/battledome/icons/air.gif"] {
    content: url(https://i.imgur.com/koEmwYy.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/water.gif"] {
    content: url(https://i.imgur.com/0Cg8PaW.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/fire.gif"] {
    content: url(https://i.imgur.com/oKwv7zR.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/earth.gif"] {
    content: url(https://i.imgur.com/OgEOQfk.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/light.gif"] {
    content: url(https://i.imgur.com/8J8v1q1.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/darkness.gif"] {
    content: url(https://i.imgur.com/mtCJ5CJ.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/physical.gif"] {
    content: url(https://i.imgur.com/HLvmzzG.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/air_def.gif"] {
    content: url(https://i.imgur.com/GRYBaTk.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/water_def.gif"] {
    content: url(https://i.imgur.com/gYqioKq.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/fire_def.gif"] {
    content: url(https://i.imgur.com/RYLPhdO.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/earth_def.gif"] {
    content: url(https://i.imgur.com/7Ua2LU4.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/light_def.gif"] {
    content: url(https://i.imgur.com/UDjALeL.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/darkness_def.gif"] {
    content: url(https://i.imgur.com/3ZWz4Oz.png)
}
img[src="https://grundoscafe.b-cdn.net/battledome/icons/physical_def.gif"] {
    content: url(https://i.imgur.com/zo2znqU.png)
}
